/*Nav*/
#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand{
    padding: 0;
    color: #000;
}

.navbar-brand:hover{
    color: #ffe6e6;
}

#navbar-links a{
    font-weight: bold;
}

#navbar-links a:hover{
    color: #180F4A;
    border-bottom: 1px solid wheat;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 2rem 10rem;
}


#home-menu{
    background-color: transparent; 
}

.main-title{
    color: #2b124c;
    margin: 0 0 65px 0;
    font-size: 35 px;
    text-align: center;
    padding-top: 55px;
}

.about-title{
    font-size: 16px;
    text-transform: uppercase;    
    font-weight: bold;
}
.about-title  b{
    color: #FF9100;
}
.about-list{
    list-style: none;
    padding-left: 0;
}

.about-list li{
    line-height: 20px;
    
}

.about-list i{
    color: #0085ff;
    margin-right: 15px;
}

#about-area{
    margin-top: 80px;
    background-color: #FF9100;
    border-radius:  0px 295px 160px  0px ;
}
