/*Nav*/
.container{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar ul{
    padding: 0;
    color: #000;
}

.navbar-nav .nav-item, .nav-link, ul{
    font-weight: bold;
    color: #FF9100;
}

.navbar-item:hover{
    border-top: 1px solid wheat;
}
.navbar-bg-body-tertiary .navbar-nav .nav-item{
    padding: 2rem 10rem;
}

/*home*/
#home-menu{
    background-color: transparent; 
}

.main-title{
    color: #2b124c;
    margin: 0 0 65px 0;
    font-size: 35 px;
    text-align: center;
    padding-top: 55px;
}

.about-title{
    font-size: 16px;
    text-transform: uppercase;    
    font-weight: bold;
}
.about-title  b{
    color: #FF9100;
}
.about-list{
    list-style: none;
    padding-left: 0;
}

.about-list li{
    line-height: 20px;
    
}

.about-list i{
    color: #0085ff;
    margin-right: 15px;
}

/*sobre*/
#about-area{
    margin-top: 80px;
    background-color: #FF9100;
    border-radius:  0px 295px 160px  0px ;
}
